{% extends "students/base.html" %}

{% load static from staticfiles %}

{% block meta_title %}Студенти{% endblock %}

{% block title %}База Студентів{% endblock %}

{% block content %}
    <a class="btn btn-primary" href="{% url "students_add" %}" id="add-button">Додати Студента</a>

    <!-- Start Students Listing -->
    <section>
        {% if students %}
            <table class="table table-striped table-hover">
                <thead>
                {% with page=request.GET.page order_by=request.GET.order_by reverse=request.GET.reverse numb_order=request.GET.numb_order %}
                <tr>
                        <th>
                            <a href="{% url "home" %}?page={{ page }}&amp;numb_order=numb&amp;order_by={{ order_by }}
{% if numb_order == 'numb' and reverse != '1' %}&amp;reverse=1{% endif %}">
                                &nbsp;&nbsp;№</a><span class="arr">
                                {% if numb_order == 'numb' %}
                                    {% if reverse == '1' %}&uarr;{% else %}&darr;{% endif %}
                                {% else %}
                                    &ensp;
                                {% endif %}
                                </span>
                        </th>

                        <th>Фото</th>

                        <th>
                            <a href="{% url "home" %}?page={{ page }}&amp;order_by=last_name{% if order_by == 'last_name' and reverse != '1' or order_by == '' %}&amp;reverse=1{% endif %}">
                                Прізвище</a><span class="arr">
                                {% if order_by == 'last_name' or order_by == '' %}
                                    {% if reverse == '1' %}&uarr;{% else %}&darr;{% endif %}
                                {% else %}
                                    &nbsp;&nbsp;
                                {% endif %}
                                </span>
                        </th>

                        <th>
                            <a href="{% url "home" %}?page={{ page }}&amp;order_by=first_name{% if order_by == 'first_name' and reverse != '1' %}&amp;reverse=1{% endif %}">
                                Ім'я</a><span class="arr">
                                {% if order_by == 'first_name' %}
                                    {% if reverse == '1' %}&uarr;{% else %}&darr;{% endif %}
                                {% else %}
                                    &nbsp;&nbsp;
                                {% endif %}
                                </span>
                        </th>

                        <th>
                            <a href="{% url "home" %}?page={{ page }}&amp;order_by=ticket{% if order_by == 'ticket' and reverse != '1' %}&amp;reverse=1{% endif %}">
                                № Білету</a><span class="arr">
                                {% if order_by == 'ticket' %}
                                    {% if reverse == '1' %}&uarr;{% else %}&darr;{% endif %}
                                {% else %}
                                    &nbsp;&nbsp;
                                {% endif %}
                                </span>
                        </th>

                        <th>Дії</th>
                </tr>
                </thead>
                <tbody>
                {% for student in students %}
                    <tr>
                        <td>
                        {% comment %}
                            {% if numb_order == 'numb' and reverse == '1' %}
                                {{ forloop.revcounter }}
                            {% else %}
                                {{ forloop.counter }}
                            {% endif %}
                        {% endcomment %}
                            {{ students.start_index|add:forloop.counter0 }}
                        </td>
                        <td>
                            <img  {% if student.photo %}
                                src="{{ student.photo.url }}"
                            {% else %}
                                src="{{ PORTAL_URL }}{% static "img/default_user.png" %}"
                            {% endif %}
                                class="img-circle" height="30"
                                width="30"></td>
                        <td><a href="{% url "students_edit" student.id %}"
                               title="Редагувати">{{ student.last_name }}</a></td>
                        <td><a href="{% url "students_edit" student.id %}"
                               title="Редагувати">{{ student.first_name }}</a></td>
                        <td>{{ student.ticket }}</td>
                        <td>
                            <div class="btn-group">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                                        aria-expanded="false">
                                    Дія <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="/journal/{{ student.id }}">Відвідування</a></li>
                                    <li><a href="{% url "students_edit" student.id %}">Редагувати</a></li>
                                    <li><a href="{% url "students_delete" student.id %}">Видалити</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            {% endwith %}
            </table>
        {% else %}
            <div class="alert alert-info" role="alert">
                Поки що не має студентів.
            </div>
        {% endif %}
    </section>
    <!-- End Students Listing -->

    {% include "students/pagination.html" %}

{% endblock %}